.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 5vh;
}

.header {
  display: flex;
  align-items: left;
  padding: 5px;
  padding-left: 10px;
  width: 100vw;
  max-height: fit-content;
  background-color: rgb(94, 206, 94);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: top;
  justify-content: top;
  padding: 25px;
  margin: 10px;
  background-color: aliceblue;
  width: 100%;
  max-height: 90vh;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 5px;
  background-color: rgba(73, 73, 224, 0.514);
  color: rgb(244, 248, 253);
  width: 30%;
}

.authField {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  gap: 10px;
}

.online {
  background-color: rgba(77, 185, 93, 0.57) !important;
  padding: 2px;
  margin: 2px;
}

.offline {
  background-color: rgba(142, 132, 132, 0.69) !important;
  padding: 2px;
  margin: 2px;
}

.online:hover {
  transform: scale(1.1);
}

.offline:hover {
  transform: scale(1.1);
}
