.sentbyothers {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  background: #420097;
  color: #f6f6f6;
}
.sentbyothers:after {
  top: 100%;
  left: 0;
  position: absolute;
  content: "";
  border: 1.5rem solid;
  border-color: #0069cc transparent transparent #0069cc;
}

.sentbyme {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  background: #a03503;
  color: #f6f6f6;
}
.sentbyme:after {
  top: -60%;
  left: auto;
  position: absolute;
  content: "";
  border: 1.5rem solid;
  border-color: transparent #ff5154 #ff5154 transparent;
  right: 0;
}

.alignRight {
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 30px;
}

.alignLeft {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 30px;
}